# Ignore vscode settings folder
.vscode/
__pycache__/

# Ignore everything withing the data and models folders
models/*
data/**/*.nc
data/**/*.tif

# Ignore batch files
**/batch_files/

# Ignore the Testbook file used for testing functions
testbook.ipynb
runs_generator.ipynb

# Ignore the grid point runs
runs/global_model/grid_points_runs.geojson